<section [@fadeAnimation]="true" class="about_section layout_padding-bottom">
  <div data-aos="fade-up-right" class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Servicios a residencias</h2>
            <p>
              Conectando tu hogar con el futuro. Innovación y comodidad en cada solución. Descubre cómo podemos mejorar
              tu vida en casa.
            </p>
            <p-divider></p-divider>
            <ul class="hotel-services-list">
              <li>Automatización del hogar</li>
              <li>Instalaciones de audio y video</li>
              <li>Diseño e implementación de infraestructura de red</li>
              <li>Instalación de enlaces inalámbricos punto a punto y punto a multipunto</li>
              <li>Diseño e implementación de redes LAN, MAN, WAN</li>
              <li>Instalación y certificación de fibra óptica y cableado estructurado (voz, datos)</li>
              <li>Infraestructura de planta externa (fibra óptica, cableado multipar, canalización y registros)</li>
              <li>Instalación y mantenimiento de redes CATV</li>
            </ul>
            <div class="btn-box">
              <a class="btn-1" routerLink="/services">Cotiza ahora</a>
              <a class="btn-2" routerLink="/services">Regresar a Servicios</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <!-- <img src="assets/pictures/servicesHotels/about-img.jpg"> -->
          <component-galleria class="gallery" [images]="imagesArray"></component-galleria>
        </div>
      </div>
    </div>
  </div>
</section>