<section [@fadeAnimation]="true" class="about_section layout_padding-bottom">
  <div data-aos="fade-up-right" class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Servicios a residencias</h2>
            <p>
              Conectando tu hogar con el futuro. Innovación y comodidad en cada solución. Descubre cómo podemos mejorar
              tu vida en casa.
            </p>
            <p-divider></p-divider>
            <ul class="hotel-services-list">
              <li>Automatización del hogar</li>
              <li>Instalaciones de audio y video</li>
              <li>Diseño e implementación de infraestructura de red</li>
              <li>Instalación de enlaces inalámbricos punto a punto y punto a multipunto</li>
              <li>Diseño e implementación de redes LAN, MAN, WAN</li>
              <li>Instalación y certificación de fibra óptica y cableado estructurado (voz, datos)</li>
              <li>Infraestructura de planta externa (fibra óptica, cableado multipar, canalización y registros)</li>
              <li>Instalación y mantenimiento de redes CATV</li>
            </ul>
            <div class="btn-box">
              <a class="btn-1" routerLink="/services">Cotiza ahora</a>
              <a class="btn-2" routerLink="/services">Regresar a Servicios</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <!-- <img src="assets/pictures/servicesHotels/about-img.jpg"> -->
          <component-galleria class="gallery" [images]="imagesArray"></component-galleria>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="product_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="product_text">
        <h2>Nuestra experiencia en residencias</h2>
      </div>
      <p class="long_text">
        En BBINCO, estamos comprometidos a mejorar la calidad de vida en comunidades residenciales a través de la
        innovación
        tecnológica. Nuestros servicios abarcan desde sistemas de seguridad inteligentes hasta soluciones de
        automatización del hogar de última generación.
      </p>
      <div class="product_section_2">
        <div class="row">
          <div class="col-md-6">
            <component-flip-image [portadaPath]="portadaPathValencia"
              [carouselImages]="imagesValenciaExperience"></component-flip-image>
            <div class="price_text">
              <h2>
                Villa la valencia
              </h2>
            </div>
            <h1 class="game_text">
              Sistema de audio (2021 - 2022)
            </h1>
            <p class="long_text">
              El alcance del proyecto consistió en el suministro, instalación, cableado, configuración, y ecualizació,
              con un total de 196 bocinas, 28 controles de volumen, 16 amplificadores y 3 procesadores instalados en
              las siguientes áreas:
            </p>
            <ul class="hotel-services-list">
              <li> SPA (8 cabañas, área común, sauna, vapor)</li>
              <li>Área alberca</li>
              <li>Lobby</li>
              <li>Restaurante patrón</li>
              <li>Restaurante Taco Bell</li>
              <li>Restaurante Steak House</li>
              <li>Gym</li>
            </ul>
          </div>
          <div class="col-md-6">
            <component-flip-image [portadaPath]="portadaPathMandarina"
              [carouselImages]="imagesMandarinaExperience"></component-flip-image>
            <div class="price_text">
              <h2>
                One & Only Mandarina
              </h2>
            </div>
            <h1 class="game_text">
              (2018 - 2021)
            </h1>
            <p class="long_text">
              Trabajamos con Kerzner y RLH en el análisis, diseño, ejecución y puesta en marcha de todas las ingenierías
              de low voltage incluyendo cctv, voz, datos, infraestructura de fibra, virtualización de servidores,
              networking, iptv y aprovisionamiento de video en villas, detección de incendios , dispositivos de audio y
              visuales, sistema de gestión de edificios, infraestructura de cobre BOH y wifi en el campus.
            </p>
            <p class="long_text">
              El desarrollo de 108 Villas incluye un salón de baile de 1,800 ft² y un espacio previo al evento, 900
              ft² de espacios para reuniones y salas de juntas, un centro de negocios, 13,000 ft² de varias áreas de
              piscina, un spa, restaurantes y bares (incluido el bar de la playa y la parrilla), áreas de actividades
              para niños (incluida la fuente de agua al aire libre) y boutiques.
            </p>
          </div>
          <div class="col-md-6 mx-auto">
            <component-flip-image [portadaPath]="portadaPathCape"
              [carouselImages]="imagesCapeExperience"></component-flip-image>
            <div class="price_text">
              <h2>
                Rooftop at The Cape
              </h2>
            </div>
            <h1 class="game_text">
              (2019 - 2020)
            </h1>
            <p class="long_text">
              El proyecto consistió en desarrollar un diseño de audio profesional para un espacio abierto de 450 metros
              cuadrados en el que contemplamos 4 zonas de audio distribuidas y controladas de forma inalámbrica con el
              fin de satisfacer las necesidades de audio de los clientes y poner el Rooftop al nivel de las grandes
              discotecas de ciudades como NY, LA y CDMX, con las necesidades de los más cubriendo los requerimientos de
              los DJ's más exclusivos del mercado.
            </p>
            <p class="long_text">
              Este proyecto consistió en equipos de gama profesional de JBL con altavoces tipo contratista, subwoofers
              profesionales para exterior multicanal, amplificadores Crown y procesadores de audio Networks BSS.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>