<section [@fadeAnimation]="true" class="about_section layout_padding-bottom">
  <div data-aos="fade-up" class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Servicios a residencias</h2>
            <p>
              Conectando tu hogar con el futuro. Innovación y comodidad en cada solución. Descubre cómo podemos mejorar
              tu vida en casa.
            </p>
            <p-divider></p-divider>
            <ul class="hotel-services-list">
              <li>Automatización del hogar</li>
              <li>Instalaciones de audio y video</li>
              <li>Diseño e implementación de infraestructura de red</li>
              <li>Instalación de enlaces inalámbricos punto a punto y punto a multipunto</li>
              <li>Diseño e implementación de redes LAN, MAN, WAN</li>
              <li>Instalación y certificación de fibra óptica y cableado estructurado (voz, datos)</li>
              <li>Infraestructura de planta externa (fibra óptica, cableado multipar, canalización y registros)</li>
              <li>Instalación y mantenimiento de redes CATV</li>
            </ul>
            <div class="btn-box">
              <a class="btn-1" routerLink="/contact">Cotiza ahora</a>
              <a class="btn-2" routerLink="/services">Regresar a Servicios</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <!-- <img src="assets/pictures/servicesHotels/about-img.jpg"> -->
          <component-galleria class="gallery" [images]="imagesArray"></component-galleria>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="product_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="product_text">
        <h2>Nuestra experiencia en residencias</h2>
      </div>
      <p class="long_text">
        En BBINCO, estamos comprometidos a mejorar la calidad de vida en comunidades residenciales a través de la
        innovación
        tecnológica. Nuestros servicios abarcan desde sistemas de seguridad inteligentes hasta soluciones de
        automatización del hogar de última generación.
      </p>
      <div class="product_section_2">
        <div class="row">
          <div class="col-md-6">
            <div class="img-flip">
              <component-flip-image [portadaPath]="portadaPathChileno"
                [carouselImages]="imagesChilenoExperience"></component-flip-image>
            </div>
            <div class="price_text">
              <h2>
                Chileno Bay resort & residences
              </h2>
            </div>
            <h1 class="game_text">
              Villa Lisa (2021 - 2022)
            </h1>
            <p class="long_text">
              En BBINCO, nos enorgullece ofrecer una amplia gama de servicios para satisfacer sus
              necesidades de comunicación y seguridad. Nuestros servicios en residencia Villa lisa en Chileno Bay
              incluyen:
            </p>
            <ul class="hotel-services-list">
              <li> <span>Voz y Datos:</span> Para una comunicación fluida y eficiente con nuestros servicios de voz
                y datos de última generación.</li>
              <li> <span>Audio:</span> Una experiencia sonora excepcional con nuestros sistemas de audio de
                alta calidad,
                perfectos para eventos, reuniones y entretenimiento.</li>
              <li> <span>Automatización:</span> Mejorando la comodidad de su hogar con soluciones de
                automatización
                de vanguardia.</li>
              <li> <span>Amplificación de Señal Celular: </span>Garantizamos una conexión constante y sólida con
                nuestras
                soluciones de
                amplificación de señal celular.</li>
              <li> <span>CCTV (Circuito Cerrado de Televisión):</span> Protejiendo la residencia con nuestros sistemas
                de vigilancia
                de última tecnología, que le brindan tranquilidad las 24 horas del día.</li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="img-flip">
              <component-flip-image [portadaPath]="portadaPathChileno"
                [carouselImages]="imagesChilenoExperience"></component-flip-image>
            </div>

            <div class="price_text">
              <h2>
                Chileno Bay resort & residences
              </h2>
            </div>
            <h1 class="game_text">
              Hill Side 4C (2021 - 2022)
            </h1>
            <p class="long_text">
              En la Residencia Hill Side, hemos implementado una serie de servicios de alta calidad. Algunos de los
              servicios que hemos incorporado en nuestra
              residencia incluyen:
            </p>
            <ul class="hotel-services-list">
              <li> <span>Control con RTI en Audio:</span> Hemos llevado la experiencia auditiva a un nuevo nivel con
                sistemas de control RTI que permiten ajustar el audio de manera personalizada y sencilla.</li>
              <li> <span>Control con RTI en Video:</span> Disfrute de la máxima calidad en entretenimiento visual con
                nuestros sistemas de control RTI para video, brindando una experiencia inmersiva y adaptable.</li>
              <li> <span>Automatización:</span> Mejorando la comodidad de su hogar con soluciones de
                automatización
                de vanguardia.</li>
              <li> <span>Control con RTI en Iluminación: </span>Hemos optimizado la iluminación en Hill Side con
                soluciones de control RTI que permiten ajustar la iluminación para crear el ambiente perfecto en
                cualquier momento.</li>
              <li> <span>Control con RTI en HVAC (Calefacción, Ventilación y Aire Acondicionado):</span> Nuestros
                sistemas de control RTI en HVAC aseguran que la temperatura y la calidad del aire sean ideales en todo
                momento, garantizando su comodidad.</li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="img-flip">
              <component-flip-image [portadaPath]="portadaPathMandarina"
                [carouselImages]="imagesMandarinaExperience"></component-flip-image>
            </div>
            <div class="price_text">
              <h2>
                One & Only Mandarina
              </h2>
            </div>
            <h1 class="game_text">
              Villas (2019 - 2020)
            </h1>
            <p class="long_text">
              En las Villas 28, 32, 33 y 34, nos enorgullece ofrecer una variedad de servicios de alta calidad para
              mejorar la infraestructura y la seguridad. Algunos de los servicios implementados en estas villas incluyen
            </p>
            <ul class="hotel-services-list">
              <li> <span>Infraestructura de Baja Tensión:</span> Hemos fortalecido la infraestructura de baja tensión
                para garantizar un funcionamiento eficiente de todos los sistemas eléctricos en estas villas.</li>
              <li> <span>Sistema de Audio:</span> Hemos instalado sistemas de audio de primera calidad para que los
                residentes disfruten de una experiencia auditiva excepcional.</li>
              <li> <span>Sistema de Alarma de Incendios:</span> La seguridad es una prioridad en las Villas 28, 32, 33 y
                34. Hemos implementado sistemas de alarma de incendios para proteger a nuestros residentes en caso de
                emergencia.</li>
              <li> <span>Red WiFi: </span>Mantenerse conectado es esencial en la actualidad. Hemos establecido una red
                WiFi sólida para que los residentes disfruten de una conectividad confiable en todo momento.</li>
              <li> <span>CCTV (Circuito Cerrado de Televisión):</span> La seguridad y la vigilancia son fundamentales.
                Hemos implementado sistemas de CCTV de última tecnología para garantizar la tranquilidad de nuestros
                residentes las 24 horas del día.</li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="img-flip">
              <component-flip-image [portadaPath]="portadaPathDelMar"
                [carouselImages]="imagesDelMarExperience"></component-flip-image>
            </div>
            <div class="price_text">
              <h2>
                Del Mar a Hatfield Company
              </h2>
            </div>
            <h1 class="game_text">
              Remanso 6 (2021 - 2022)
            </h1>
            <p class="long_text">
              En la Residencia Remanso 6, nos enorgullece ofrecer una variedad de servicios de alta calidad para mejorar
              la comodidad y la seguridad. Algunos de los servicios implementados en nuestra residencia incluyen:
            </p>
            <ul class="hotel-services-list">
              <li> <span>Sistema de Audio:</span> En Remanso 6, hemos creado una experiencia auditiva excepcional con
                sistemas de audio de primera calidad que brindan un sonido nítido y envolvente para el entretenimiento y
                la relajación.</li>
              <li> <span>Red WiFi: </span> Sabemos lo importante que es estar conectado en la actualidad. Por lo tanto,
                hemos establecido una red WiFi sólida que garantiza una conectividad confiable en todas las áreas de la
                residencia.</li>
              <li> <span>Sistema de Video: </span> Hemos mejorado la experiencia visual en la Residencia Remanso 6 con
                sistemas de video de alta calidad que brindan una calidad de imagen excepcional para entretenimiento y
                seguridad.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>