<section class="ftco-section layout_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2>Contactanos</h2>
                <p>
                    En BBINCO, estamos comprometidos en brindar soluciones tecnológicas innovadoras para
                    impulsar el éxito de su negocio. Sabemos que la comunicación es fundamental, y estamos aquí para
                    ayudarle en cada paso del camino. Si tiene alguna pregunta, consulta o simplemente desea saber más
                    acerca de cómo podemos colaborar juntos, no dude en ponerse en contacto con nosotros.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <div class="col-md-12">
                    <div class="wrapper">
                        <div class="row mb-5">
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="pi pi-map-marker"></span>
                                    </div>
                                    <div class="text">
                                        <p>
                                            <span>Dirección:</span>
                                            Col, Calle Sin Nombre, El Aguajito Manzana 07 Lote 02, 23443 San José del
                                            Cabo, B.C.S.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="pi pi-map-marker"></span>
                                    </div>
                                    <div class="text">
                                        <p>
                                            <span>Telefóno:</span>
                                            +52 6241307357
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="pi pi-map-marker"></span>
                                    </div>
                                    <div class="text">
                                        <p>
                                            <span>Email: </span>
                                            <a href="">asist-comercial@bbinco.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="pi pi-map-marker"></span>
                                    </div>
                                    <div class="text">
                                        <p>
                                            <span>Sitio Web: </span>
                                            <a routerLink="">www.bbinco.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-5 d-flex align-items-center mx-auto">
                            <div class="image-box">
                                <img src="assets/pictures/mainLogobbinco.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>