<section class="service_section layout_padding">
    <div data-aos="fade-up" class="container-xxl py-5">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>Nuestros servicios</h2>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 mx-auto service-item-top">
                    <div class="overflow-hidden">
                        <img src="assets/pictures/services/service-1.jpg" alt="">
                    </div>
                    <div class="d-flex align-items-center justify-content-between bg-light p-4">
                        <h5 class="text-truncate me-3 mb-0">Hoteles</h5>
                        <a class="btn custom-btn flex-shrink-0" routerLink="hotels">
                            <i class="pi pi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 mx-auto service-item-top">
                    <div class="overflow-hidden">
                        <img src="assets/pictures/services/service-2.jpg" alt="">
                    </div>
                    <div class="d-flex align-items-center justify-content-between bg-light p-4">
                        <h5 class="text-truncate me-3 mb-0">Residencias</h5>
                        <a class="btn custom-btn flex-shrink-0" routerLink="residences">
                            <i class="pi pi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>