<!-- Azul degradado -->
<header class="header_section">
    <div class="header_top">
        <div class="container-fluid">
            <div class="contact_link-container">
                <a href="#">
                    <i class="pi pi-map-marker" aria-hidden="true"></i>
                    <span>
                        Broad Band Integration Company
                    </span>
                </a>
                <a href="#">
                    <i class="pi pi-phone" aria-hidden="true"></i>
                    <span>
                        Llame: +52 6241141371
                    </span>
                </a>
                <a href="#">
                    <i class="pi pi-envelope" aria-hidden="true"></i>
                    <span>
                        oguzman@bbinco.com
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="header_bottom">
       <div class="container-fluid">
            <shared-menu></shared-menu>
       </div>
    </div>
</header>