<section [@fadeAnimation]="true" class="about_section layout_padding-bottom">
  <div data-aos="fade-up-right" class="container">
    <div class="row first-row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Servicios a hoteleria</h2>
            <p>
              En BBINCO, nos enorgullece ser líderes en la provisión de soluciones
              integrales de tecnología para la industria hotelera. Nuestra misión es potenciar la
              experiencia de sus huéspedes y simplificar la gestión de su hotel a través de tecnologías
              innovadoras.
            </p>
            <p-divider></p-divider>
            <ul class="hotel-services-list">
              <li>Diseño de ingeniería low voltage</li>
              <li>Diseño e implementación de proyectos de PBX, Wifi, Networking, CCTV, detección de incendios, Seguridad
                de acceso, audio, GRMS, BMS</li>
              <li>Proyectos de voz, datos, video y audio</li>
              <li>Sistemas de seguridad perimetral (CCTV, Control de acceso)</li>
              <li>Middleware IPTV (Video On Demand, Mobile TV, Canales OTT, Casting)</li>
              <li>Implementación de servidores de red (Directorio Activo, Exchange, DHCP, DNS, Servidores Web)</li>
              <li>Diseño de sistemas térmicos y HVAC</li>
            </ul>
            <div class="btn-box">
              <a class="btn-1" routerLink="/services">Cotiza ahora</a>
              <a class="btn-2" routerLink="/services">Regresar a Servicios</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <!-- <img src="assets/pictures/servicesHotels/about-img.jpg"> -->
          <component-galleria class="gallery" [images]="imagesArray"></component-galleria>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="product_section layout_padding">

</section>