<section class="about_section layout_padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>Servicios a hoteleria</h2>
                        <p>
                            En BBINCO, nos enorgullece ser líderes en la provisión de soluciones
                            integrales de tecnología para la industria hotelera. Nuestra misión es potenciar la
                            experiencia de sus huéspedes y simplificar la gestión de su hotel a través de tecnologías
                            innovadoras. Desde sistemas de gestión hotelera hasta soluciones de seguridad cibernética,
                            estamos comprometidos a ayudarle a alcanzar el éxito en un mundo digitalmente conectado.
                            Descubra cómo podemos hacer que su hotel brille en la era tecnológica.
                        </p>
                        <div class="btn-box">
                            <a class="btn-1">Cotiza ahora</a>
                            <a class="btn-2">Regresar a Servicios</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>