<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 px-0">
        <div class="img_container">
          <div class="img-box">
            <img src="assets/pictures/about-img.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Quienes somos?</h2>
          </div>
          <p>
            Tempor et magna sunt id. Labore ipsum culpa sint quis nisi sunt Lorem deserunt Lorem proident eiusmod.
            Laboris do reprehenderit commodo reprehenderit pariatur nostrud fugiat. Aliquip commodo tempor aliquip
            officia eiusmod reprehenderit. Mollit magna sunt nulla nostrud sit velit voluptate. Sit dolor eiusmod
            officia amet non ipsum quis cupidatat ex culpa pariatur.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
