.layout_padding {
  /* padding-top: 30px; */
  padding-top: 170px;
  padding-bottom: 90px;
}

.about_section .row {
  -webkit-box-align: center;
  align-items: center;
}


.about_section .img_container .img-box img {
  width: 100%;
}

.about_section .detail-box {
  background-color: #ffffff;
  padding: 45px 25px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  margin-left: -45px;
  box-shadow: 0 0 10px #000000;
  border-radius: 5px;
}

.heading_container {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.heading_container h2::before {
  content: "";
  width: 40px;
  height: 7px;
  background-color: #8eb83a;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about_section .detail-box p {
  margin-top: 5px;
}

.heading_container_right {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
}

.heading_container_right h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
}

.heading_container_right span {
  color: #8eb83a;
}

.container.second,
.container.third  {
  margin-top: 25px;
}

.col-md-6.px-0.second,
.col-md-6.px-0.third {
  position: relative;
  left: 3%;
}

.detail-box span {
  font-weight: bold;
}

.row{
  margin-bottom: 7%;
}

.divider{
  margin: auto;
}

@media (max-width: 768px){
  .layout_padding-bottom{
      padding-top: 0 !important;
  }
}