<section [@fadeAnimation]="true" class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 px-0">
        <div class="img_container">
          <div class="img-box">
            <component-galleria class="gallery" [images]="imagesUs"></component-galleria>
          </div>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="detail-box">
          <div class="heading_container">
            <h2>¿Quienes somos?</h2>
          </div>
          <p>
            Somos una empresa que tiene como principal misión ofrecer e integrar soluciones tecnológicas de alta calidad
            de acuerdo a las diferentes necesidades que se encuentran en el mercado. BBINCO es una empresa consolidada,
            con presencia en México y Sudamérica, superando los 6.5 millones de dólares en ventas anuales y un
            crecimiento anual del 20%. En un mundo donde la tecnología está en constante evolución, nuestro personal se
            mantiene a la vanguardia, asegurando que generamos soluciones completamente personalizadas e innovadoras.
            <br>
            Nuestra fuerza radica en nuestro equipo de ingenieros, técnicos y colaboradores que están en constante
            crecimiento y capacitación, asegurándose de diseñar soluciones completamente personalizadas e innovadoras.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 order-2 order-md-1 px-0">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Historia-Fundación</h2>
          </div>
          <p>
            La empresa fue iniciada en el año 2012, es el resultado de la determinación y constancia de Emmanuel Urbina
            un joven que se graduó en sistemas computacionales por el IPN, trabajó cinco años para la multinacional
            Allied Telesis donde ingresó como becario y llegó a ser gerente de soporte para la región del norte de
            Latinoamérica.
            <br>
            En el año 2014 se incorpora a la empresa Omar Guzmán que se graduó en sistemas computacionales por el IPN,
            con experiencia como consultor de servicios profesionales para empresas como Telcel, HSBC, Hildebrando,
            Multipack y BBVA Bancomer en el área de tecnología. Es especialista en administración de proyectos,
            servidores Unix, programación orientada a objetos y desarrollo de negocios. Son amigos y se conocen desde
            hace varios años, y ahora comparten la responsabilidad de convertir esto en una gran empresa.
          </p>
        </div>
      </div>
      <div class="col-md-6 order-1 order-md-2 px-0">
        <div class="img_container">
          <div class="img-box">
            <component-galleria class="gallery" [images]="imagesHistory"></component-galleria>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 px-0">
        <div class="img_container">
          <div class="img-box">
            <component-galleria class="gallery" [images]="imagesVision"></component-galleria>
          </div>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Misión-Visión</h2>
          </div>
          <span>Misión</span>
          <p>
            Poder facilitar con la mejor tecnología soluciones eficientes, creativas e innovadoras a través de servicios
            especializados y hechos a la medida de nuestros clientes.
          </p>
          <span>Visión</span>
          <p>
            Contar con la innovación y calidad para tener la tecnología adecuada para cubrir las necesidades de cada
            lugar que requiera un servicio creativo e innovador especializado.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 order-2 order-md-1 px-0">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Ubicación</h2>
          </div>
          <span>Oficina Central</span>
          <p>
            Las oficinas centrales de BBINCO están ubicadas en San José del Cabo, Baja California Sur, México.
            Un punto estratégico que nos permite estar cerca de nuestros clientes.
          </p>
          <span>Oficinas externas</span>
          <p>
            Las oficinas externas de BBINCO están ubicadas en Compostela, Nayarit, México.
            <br>
            A través de esta expansión estratégica, estamos listos para ofrecer nuestros productos y servicios de manera
            más cercana y efectiva a nuestros clientes
          </p>
        </div>
      </div>
      <div class="col-md-6 order-1 order-md-2 px-0">
        <div class="img_container">
          <div class="img-box">
            <component-galleria class="gallery" [images]="imagesUbication"></component-galleria>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>