<section [@fadeAnimation] = "true" class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 px-0">
        <div class="img_container">
          <div class="img-box">
            <img src="assets/pictures/about-img.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="detail-box">
          <div class="heading_container">
            <h2>¿Quienes somos?</h2>
          </div>
          <p>
            Somos una empresa que tiene como principal misión ofrecer e integrar soluciones tecnológicas de alta calidad
            de acuerdo a las diferentes necesidades que se encuentran en el mercado. BBINCO es una empresa consolidada,
            con presencia en México y Sudamérica, superando los 6.5 millones de dólares en ventas anuales y un
            crecimiento anual del 20%. En un mundo donde la tecnología está en constante evolución, nuestro personal se
            mantiene a la vanguardia, asegurando que generamos soluciones completamente personalizadas e innovadoras.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 px-0 second">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Historia-Fundación</h2>
          </div>
          <p>
            Bbinco fue fundada en 2012 por Emmanuel Urbina y Omar Guzman, ingenieros mexicanos con más de 20 años de
            experiencia. El equipo de profesionales de BBINCO está compuesto mayoritariamente por ingenieros, técnicos y
            arquitectos. Personal con amplia experiencia en el campo de la tecnología y jóvenes emprendedores con muchas
            ganas de resolver los retos que demandan nuestros clientes. En BBINCO, creamos soluciones
            basadas en las necesidades de nuestros clientes para ofrecer los mejores servicios y los más altos
            estándares, siempre enfocados en superar las expectativas del cliente.
          </p>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="img_container">
          <div class="img-box">
            <img src="assets/pictures/about-img.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 px-0">
        <div class="img_container">
          <div class="img-box">
            <img src="assets/pictures/about-img.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Misión-Visión</h2>
          </div>
          <span>Misión</span>
          <p>
            Las oficinas centrales de BBINCO están ubicadas en San José del Cabo, Baja California Sur, México.
            <br>
            Un punto estratégico que nos permite estar cerca de nuestros clientes.
          </p>
          <span>Visión</span>
          <p>
            Las oficinas externas de BBINCO están ubicadas en Nayarit, México.
            <br>
            A través de esta expansión estratégica, estamos listos para ofrecer nuestros productos y servicios de manera
            más cercana y efectiva a nuestros clientes
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-6 px-0">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Ubicación</h2>
          </div>
          <span>Oficina Central</span>
          <p>
            Las oficinas centrales de BBINCO están ubicadas en San José del Cabo, Baja California Sur, México.
            <br>
            Un punto estratégico que nos permite estar cerca de nuestros clientes.
          </p>
          <span>Oficinas externas</span>
          <p>
            Las oficinas externas de BBINCO están ubicadas en Nayarit, México.
            <br>
            A través de esta expansión estratégica, estamos listos para ofrecer nuestros productos y servicios de manera
            más cercana y efectiva a nuestros clientes
          </p>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="img_container">
          <div class="img-box">
            <img src="assets/pictures/about-img.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-md-6 px-0 second">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Ubicación</h2>
          </div>
          <span>Oficina Central</span>
          <p>
            Las oficinas centrales de BBINCO están ubicadas en San José del Cabo, Baja California Sur, México.
            <br>
            Un punto estratégico que nos permite estar cerca de nuestros clientes.
          </p>
          <span>Oficinas externas</span>
          <p>
            Las oficinas externas de BBINCO están ubicadas en Nayarit, México.
            <br>
            A través de esta expansión estratégica, estamos listos para ofrecer nuestros productos y servicios de manera
            más cercana y efectiva a nuestros clientes
          </p>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="img_container">
          <div class="img-box">
            <img src="assets/pictures/about-img.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
