<section class="info_section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info_logo">
                    <a class="navbar-brand" routerLink="">
                        <span> BBINCO </span>
                    </a>
                    <p>
                        Elevando la Tecnología, Elevando Tu Negocio
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info_links">
                    <h5> Quizá te interese</h5>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/Bbinco?mibextid=LQQJ4d">Pagina de facebook</a>
                        </li>
                        <li>
                            <a href="https://cuadraerre.com/corazon-ranchero-1">Cuadra erre</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <h5> Contáctanos </h5>
                <div class="info_contact">
                    <a>
                        <i class="pi pi-map-marker" aria-hidden="true"></i>
                        <span> Calle el Aguajito, Sin Número</span>
                    </a>
                    <a>
                        <i class="pi pi-phone" aria-hidden="true"></i>
                        <span> Llame: +52 6241307357</span>
                    </a>
                    <a>
                        <i class="pi pi-envelope" aria-hidden="true"></i>
                        <span> asist-comercial@bbinco.com</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>

<footer class="container-fluid footer_section">
    <p>
        &copy;
        <span>2023</span>
        Todos los derechos reservados. Powered by <a href="www.bbinco.com">BBINCO.</a>
    </p>
    <br>
</footer>