<nav class="navbar navbar-expand-lg custom_nav-container" customNav>
    <a class="navbar-brand" routerLink="">
        <span>BBINCO</span>
    </a>
    <button #navbarTogglerButton class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li
                class="nav-item"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact: true}"
                (click)="closeNavbar()"
            >
                <a routerLink="home" class="nav-link">
                    Inicio
                </a>
            </li>
            <li class="nav-item"
                routerLinkActive="active"
                (click)="closeNavbar()"
            >
                <a routerLink="about" class="nav-link">
                    Nosotros
                </a>
            </li>
            <li class="nav-item"
                routerLinkActive="active"
                (click)="closeNavbar()"
            >
                <a routerLink="services" class="nav-link">
                    Servicios
                </a>
            </li>
            <li class="nav-item"
                routerLinkActive="active"
                (click)="closeNavbar()"
            >
                <a routerLink="team" class="nav-link">
                    Equipo
                </a>
            </li>
            <li class="nav-item"
                routerLinkActive="active"
                (click)="closeNavbar()"
            >
                <a routerLink="contact" class="nav-link">
                    Contacto
                </a>
            </li>
        </ul>
    </div>
</nav>
